stream {
    map $ssl_preread_server_name $backend {
        tm.knightbyte.win          __STREAM_HOST__:__PROD_TLS_PORT__;
        staging.tm.knightbyte.win  __STREAM_HOST__:__STAGING_TLS_PORT__;
__PREVIEW_STREAM_ENTRY__
        bim.knightbyte.win         __STREAM_HOST__:__BIM_TLS_PORT__;
        www.microsoft.com          __STREAM_HOST__:__MICROSOFT_TLS_PORT__;
        default                    __STREAM_HOST__:__DEFAULT_TLS_PORT__;
    }

    server {
        listen 443;
        ssl_preread on;
        proxy_pass $backend;
    }
}
