[Unit]
Description=Terraforming Mars Server
After=network.target

[Service]
Type=simple
WorkingDirectory=__PROD_CURRENT_DIR__
EnvironmentFile=-%h/.config/tm-server.env
Environment=PORT=__PROD_PORT__
Environment=HOST=__PROD_HOST__
Environment=SERVER_ID=__PROD_SERVER_ID__
Environment=ELO_DATA_DIR=__PROD_ELO_DATA_DIR__
Environment=TM_AUTO_JOIN_SCRIPT=__AUTO_JOIN_SCRIPT__
Environment=SHADOW_LOG=1
Environment=SHADOW_LOG_DIR=__SHADOW_LOG_DIR__
Environment=SHADOW_LOG_FILE_PREFIX=input
ExecStartPre=-/usr/bin/fuser -k __PROD_PORT__/tcp
ExecStart=/usr/bin/node build/src/server/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
