@import (inline) "../../node_modules/spectre.css/dist/spectre.min.css";
@import (inline) "../../node_modules/spectre.css/dist/spectre-exp.min.css";
@import (inline) "../../node_modules//spectre.css/dist/spectre-icons.min.css";
@import (inline) "../../node_modules/dialog-polyfill/dialog-polyfill.css";
@import "./variables.less";
@import "./mixins.less";

html,
body,
#app {
    height: 100%;
    margin: 0px;
}
.btn {
    color: @text_action !important;
    background: @bg_action !important;
    border-color: @border_action !important;
}
.btn-tiny {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
    cursor: pointer;
    height: 1.5rem;
    line-height: 0.5rem;
}
.btn-max {
    margin-left: 10px;
}
.btn-submit {
    min-width: 183px;
    height: 50px;
    font-size: 20px;
    margin: 10px 0 30px 0;
}
.btn-rounded {
    border-radius: 8px;
}
.flex {
    display: flex;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.centered-content {
    display: flex;
    padding: 0px;
    justify-content: center;
}
.centered-content button {
    margin-right: 20px;
}
.dynamic-title {
    font-size: @font_size_huge;
    margin-bottom: 16px;
}

.capitalized {
    text-transform: capitalize;
}

.main-container {
    margin: 0 0 0 60px;
}

.hidden {
    display: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
}

a:link {
    color: #ddd;
}

a:visited {
    color: #ccc;
}

a:hover {
    color: #fff;
}

a:active {
    color: #ddd;
}

@font-face {
    font-family: Prototype;
    src: url(./assets/Prototype.ttf);
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: Prototype;
    src: url(./assets/Prototype-ru.ttf);
    unicode-range: U+0410-044F; /* Russian glyphs */
}
@font-face {
    font-family: Prototype;
    src: url(./assets/Prototype-pl.ttf);
    unicode-range: U+0104-0107, U+0118-0119, U+0141-0144, U+00D3, U+00F3, U+015A, U+015B, U+0179, U+017A-017C; /* Polish glyphs */
}

body {
    background: @bg_main;
    color: @text_main;
    font-family: @font_family_main;
    font-size: @font_size_big;
}

h1 {
    filter: drop-shadow(4px 4px 4px black);
    text-shadow: -1px -1px 1px #aaaa, 1px 1px 1px #333a;
    padding: 1px 15px;
    border-radius: 8px;
}

h2 {
    font-size: @font_size_huge;
    filter: drop-shadow(4px 4px 4px black);
    text-shadow: -1px -1px 6px #aaa4;
}

.filterDiv {
    font-size: 17px !important;
}

.is-action {
    color: lightblue;
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}
.newlines {
    white-space: pre;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

// normal backgrounds
.player_bg_color_red {
    background-color: @player_red;
}

.player_bg_color_yellow {
    background-color: @player_yellow;
}

.player_bg_color_green {
    background-color: @player_green;
}

.player_bg_color_black {
    background-color: @player_black;
}

.player_bg_color_blue {
    background-color: @player_blue;
}

.player_bg_color_purple {
    background-color: @player_purple;
}

.player_bg_color_orange {
    background-color: @player_orange;
}

.player_bg_color_pink {
    background-color: @player_pink;
}

.player_bg_color_gold {
    background-color: @player_gold;
    color: #1b1400;
}

.player_bg_color_emerald {
    background-color: @player_emerald;
    color: #001b13;
}

.player_bg_color_ginger {
    background-color: @player_ginger;
    color: #1f0900;
}

.player_bg_color_hydro {
    background-color: @player_hydro;
    color: #ffe5e8;
}

.player_bg_color_antistress {
    background-color: @player_antistress;
    color: #d9e7ff;
}

.player_bg_color_gambit {
    background-color: @player_gambit;
    color: #071a2c;
}

.player_bg_color_turquoise {
    background-color: @player_turquoise;
    color: #00282c;
}

.player_bg_color_saturn {
    background-color: @player_saturn;
    color: #201607;
}

.player_bg_color_saturnrings {
    background-color: @player_saturnrings;
    color: #1d170d;
}

.player_bg_color_titan {
    background-color: @player_titan;
    color: #1f1000;
}

.player_bg_color_saturnstorm {
    background-color: @player_saturnstorm;
    color: #201607;
}

.player_bg_color_catseye {
    background-color: @player_catseye;
    color: #182000;
}

// backgroungs with opacity
.player_translucent_bg_color_red {
    .player_red_bg_translucent();
}

.player_translucent_bg_color_yellow {
    .player_yellow_bg_translucent();
}

.player_translucent_bg_color_green {
    .player_green_bg_translucent();
}

.player_translucent_bg_color_black {
    .player_black_bg_translucent();
}

.player_translucent_bg_color_blue {
    .player_blue_bg_translucent();
}

.player_translucent_bg_color_purple {
    .player_purple_bg_translucent();
}

.player_translucent_bg_color_orange {
    .player_orange_bg_translucent();
}

.player_translucent_bg_color_pink {
    .player_pink_bg_translucent();
}

.player_translucent_bg_color_gold {
    .player_gold_bg_translucent();
}

.player_translucent_bg_color_emerald {
    .player_emerald_bg_translucent();
}

.player_translucent_bg_color_ginger {
    .player_ginger_bg_translucent();
}

.player_translucent_bg_color_hydro {
    .player_hydro_bg_translucent();
}

.player_translucent_bg_color_antistress {
    .player_antistress_bg_translucent();
}

.player_translucent_bg_color_gambit {
    .player_gambit_bg_translucent();
}

.player_translucent_bg_color_turquoise {
    .player_turquoise_bg_translucent();
}

.player_translucent_bg_color_saturn {
    .player_saturn_bg_translucent();
}

.player_translucent_bg_color_saturnrings {
    .player_saturnrings_bg_translucent();
}

.player_translucent_bg_color_titan {
    .player_titan_bg_translucent();
}

.player_translucent_bg_color_saturnstorm {
    .player_saturnstorm_bg_translucent();
}

.player_translucent_bg_color_catseye {
    .player_catseye_bg_translucent();
}

.player_bg_color_gold.log-player,
.player_translucent_bg_color_gold .player-info-name,
.player_translucent_bg_color_gold .player_name,
.player_translucent_bg_color_gold .game-end-name-and-elo,
.player_translucent_bg_color_gold .game-end-name-and-elo a,
.player_translucent_bg_color_gold .player-name {
    color: #1b1400;
}

.player_bg_color_emerald.log-player,
.player_translucent_bg_color_emerald .player-info-name,
.player_translucent_bg_color_emerald .player_name,
.player_translucent_bg_color_emerald .game-end-name-and-elo,
.player_translucent_bg_color_emerald .game-end-name-and-elo a,
.player_translucent_bg_color_emerald .player-name {
    color: #d7fff0;
}

.player_bg_color_ginger.log-player,
.player_translucent_bg_color_ginger .player-info-name,
.player_translucent_bg_color_ginger .player_name,
.player_translucent_bg_color_ginger .game-end-name-and-elo,
.player_translucent_bg_color_ginger .game-end-name-and-elo a,
.player_translucent_bg_color_ginger .player-name {
    color: #ffe1c8;
}

.player_bg_color_hydro.log-player,
.player_translucent_bg_color_hydro .player-info-name,
.player_translucent_bg_color_hydro .player_name,
.player_translucent_bg_color_hydro .game-end-name-and-elo,
.player_translucent_bg_color_hydro .game-end-name-and-elo a,
.player_translucent_bg_color_hydro .player-name {
    color: #ffe5e8;
}

.player_bg_color_antistress.log-player,
.player_translucent_bg_color_antistress .player-info-name,
.player_translucent_bg_color_antistress .player_name,
.player_translucent_bg_color_antistress .game-end-name-and-elo,
.player_translucent_bg_color_antistress .game-end-name-and-elo a,
.player_translucent_bg_color_antistress .player-name {
    color: #d9e7ff;
}

.player_bg_color_gambit.log-player,
.player_translucent_bg_color_gambit .player-info-name,
.player_translucent_bg_color_gambit .player_name,
.player_translucent_bg_color_gambit .game-end-name-and-elo,
.player_translucent_bg_color_gambit .game-end-name-and-elo a,
.player_translucent_bg_color_gambit .player-name {
    color: #f2f9ff;
}

.player_bg_color_turquoise.log-player,
.player_translucent_bg_color_turquoise .player-info-name,
.player_translucent_bg_color_turquoise .player_name,
.player_translucent_bg_color_turquoise .game-end-name-and-elo,
.player_translucent_bg_color_turquoise .game-end-name-and-elo a,
.player_translucent_bg_color_turquoise .player-name {
    color: #dcffff;
}

.player_bg_color_saturn.log-player,
.player_translucent_bg_color_saturn .player-info-name,
.player_translucent_bg_color_saturn .player_name,
.player_translucent_bg_color_saturn .game-end-name-and-elo,
.player_translucent_bg_color_saturn .game-end-name-and-elo a,
.player_translucent_bg_color_saturn .player-name {
    color: #2b1d08;
}

.player_bg_color_saturnrings.log-player,
.player_translucent_bg_color_saturnrings .player-info-name,
.player_translucent_bg_color_saturnrings .player_name,
.player_translucent_bg_color_saturnrings .game-end-name-and-elo,
.player_translucent_bg_color_saturnrings .game-end-name-and-elo a,
.player_translucent_bg_color_saturnrings .player-name {
    color: #241a0b;
}

.player_bg_color_titan.log-player,
.player_translucent_bg_color_titan .player-info-name,
.player_translucent_bg_color_titan .player_name,
.player_translucent_bg_color_titan .game-end-name-and-elo,
.player_translucent_bg_color_titan .game-end-name-and-elo a,
.player_translucent_bg_color_titan .player-name {
    color: #ffe4b2;
}

.player_bg_color_saturnstorm.log-player,
.player_translucent_bg_color_saturnstorm .player-info-name,
.player_translucent_bg_color_saturnstorm .player_name,
.player_translucent_bg_color_saturnstorm .game-end-name-and-elo,
.player_translucent_bg_color_saturnstorm .game-end-name-and-elo a,
.player_translucent_bg_color_saturnstorm .player-name {
    color: #f6e7ff;
}

.player_bg_color_catseye.log-player,
.player_translucent_bg_color_catseye .player-info-name,
.player_translucent_bg_color_catseye .player_name,
.player_translucent_bg_color_catseye .game-end-name-and-elo,
.player_translucent_bg_color_catseye .game-end-name-and-elo a,
.player_translucent_bg_color_catseye .player-name {
    color: #f6ffd0;
}

.alert-dialog {
    position: fixed;
}

.general-warning {
    color: #bb0000;
}

@import "./cards.less";
@import "./cards_v2.less";
@import "./language_hacks.less";
@import "./board.less";
@import "./board_items_positions.less";
@import "./globs.less";
@import "./game_home.less";
@import "./game_end.less";
@import "./resources.less";
@import "./start_screen.less";
@import "./create_game_form.less";
@import "./corporations_filter.less";
@import "./colonies_filter.less";
@import "./cards_filter.less";
@import "./player_home.less";
@import "./players_overview.less";
@import "./preferences.less";
@import "./popup.less";
@import "./waiting_for.less";
@import "./payments.less";
@import "./other_player.less";
@import "./colonies.less";
@import "./log.less";
@import "./load_game_form.less";
@import "./turmoil.less";
@import "./ares.less";
@import "./games-overview.less";
@import "./help.less";
@import "./card_list.less";
@import "./moon.less";
@import "./pathfinders.less";
@import "./language_icon.less";
@import "./underworld.less";
@import "./keyboard_shortcuts.less";
